.MainMetricBlock {
    width: 75%;
    height: 100%;
    background-color: #1a1a1a;
    border-radius: 20px;
}

.RightMetricsBlock {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1%;
}

.Metrics {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1%;
    flex-grow: 1;
}

.MetricsSpotlight{
    height: 70%;
    width: 100%;
    display: flex;
    column-gap: 1%;
    margin-bottom: 1%;
}

.RightMetric {
    width: 100%;
    height: 47.5%;
    background-color: #1a1a1a;
    border-radius: 20px;
    flex-grow: 1;
}