.SideBar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 10%;
    background-color: #1a1a1a;
    margin-right: 5%;
    flex-grow: 0;
    flex-shrink: 0;
}

#ProfilePhoto {
    border-radius: 100%;
    width: 60%;
    margin-bottom: 10%;
}

.PhotoAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: center;
}

a {
    border-radius: 0%;
    width: 100%;
}

button {
    border-radius: 0%;
    width: 100%
}